html {
  height: 105%;
  width: 103%;
}

header {
  background-color: rgba(45, 29, 3, 0.307);
  border-style: double;
}

table,
th,
td {
  border-style: solid double black;
}

body {
  background-image: URL(https://i.pinimg.com/originals/d2/c1/65/d2c1650383c9a0002ab2c4123f19e13a.jpg);
}

title {
  text: decoration thickness 5px;
  float: inline-start;
}